BLOGS_SQL_ECHO=true

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=blogs
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/blogs
DATABASE_CONNECT_TIMEOUT=5
DATABASE_POOL_TIMEOUT=5
